# STM32 ztm32 development board with STM32G030F6P6 MCU configuration

# Copyright (c) 2022 Sullivan Zeng <2257501878@qq.com>
# SPDX-License-Identifier: Apache-2.0


config BOARD_ZTM32_G030F6
	select SOC_STM32G030XX