# STM32 ztm32 development board with STM32G030K8T6 MCU configuration

# Copyright (c) 2022 Sullivan Zeng <2257501878@qq.com>
# SPDX-License-Identifier: Apache-2.0

config BOARD_ZTM32_G030K8
	bool "ZTM32 G030K8T6 Development Board"
	depends on SOC_STM32G030XX
